#pattern-canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#pattern-canvas {
    margin: auto;
    width: 50%;
    border: 3px solid white;
    border-radius: 0.5rem;
}

#pattern-ui-container {
    background-color: darkslategray; 
    color: whitesmoke;
    padding: 2rem; 
    border: 1px solid black; 
    border-radius: 1rem;
}
